.footer__navbar .current {
  background-color: hsla(231, 0%, 67%, 0.33);
}

button {
  display: block;
  justify-content: center;
  background-color: plum;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
