.card {
  position: relative;
  border: 1px solid black;
  min-height: 100px;
  min-width: 120px;
  border-radius: 5px;
  box-shadow: 8px;
  padding: 15px;
  margin-bottom: 40px;

  &__question {
    font-family: 'Quattrocento Sans', sans-serif;
  }

  &__bookmark {
    position: absolute;
    top: -30px;
    right: 20px;
    height: 100px;
    width: 20px;
    background-color: pink;
    cursor: pointer;
  }

  &__text {
    font-family: 'Roboto', sans-serif;
  }

  &__button {
    font-size: 120%;
    background-color: grey;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  &__button:hover {
    background-color: crimson;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }

  &__tag {
    list-style: none;
    font-size: 0, 8em;
    padding: 4px;
    border: 1px solid black;
    background-color: #ffb5b0;
  }
}
