.footer__navbar .current {
  background-color: hsla(231, 0%, 67%, 0.33);
}

button {
  display: block;
  text-align: center;
  background-color: grey;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  border-radius: 5%;
}

.card__bookmark--active path {
  color: black;
  fill: black !important;
}

.card__bookmark--inactive {
  color: grey;
  fill: grey;
}

.card__bookmark path {
  color: grey;
  fill: grey;
}
