form {
  display: flex;
  flex-direction: column;
}

.input-question {
  width: 100%;
  padding: 20px;
  text-indent: 20px;
  margin: 10px;
}

.input-answer {
  width: 100%;
  padding: 20px;
  margin: 10px;
  text-indent: 20px;
}

.input-lables {
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-indent: 20px;
}

.lable {
  margin-top: 20px;
}
